body {
 margin: 0;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
}
/* app css below */
.searchBarContainer{
 padding: 8px;
 height: 41px;
 box-shadow: 1px 1px 6px 1px #4a4a4a;
}
#searchQuery {
 border-radius: 6px;
 color: #9b9b9b;
 background-color: #dfdfdf;
 padding: 7px 32px;
 border-style: solid;
 border-color: #dfdfdf;
 width: 60%;
 outline: none;
}
.search-ico{
 position: absolute;
 padding: 5px;
 color: #9b9b9b;
}
.home-ico{
 float: right;
 margin-top: 7px;
 color: #4a4a4a;
}

/*movie card Css */
.moviesCard{
 box-shadow:0px 7px 12px 1px #4a4a4a;
 width: 220px;
 height: 325px;
 border-radius: 10px;
 margin: 10px 10px 10px 10px;
 display: inline-block;
}
.movie-poster{
 width: 100%;
 height: 75%;
 border-radius: 10px 10px 0px 0px;
 background: #dfdfdf;
}
.movie-title{
 font-size: 11px;
 font-weight: 600;
 margin-left: 5px;
}
.rating-text{
 color: #9b9b9b;
 font-size: 11px;
 float: right;
 margin-right: 5px;
 margin-top: 5px;
}
div.movie-desc{
 /* hide text if it more than N lines  */
 overflow: hidden;
 /* for set '...' in absolute position */
 position: relative;
 /* use this value to count block height */
 line-height: 1.2em;
 /* max-height = line-height (1.2) * lines max number (2) */
 max-height: 2.4em;
 /* fix problem when last visible word doesn't adjoin right side  */
 text-align: justify;
 margin-right: -1em;
 padding-right: 1em;
 font-size: 11px;
 padding: 3px 16px 0px 5px;
 width: 89%;
 color: #4a4a4a;
}
div.movie-desc:before {
 /* points in the end */
 content: '...';
 /* absolute position */
 position: absolute;
 /* set position to right bottom corner of block */
 right: 0;
 bottom: 0;
}
div.movie-desc:after{
 /* points in the end */
 content: '';
 /* absolute position */
 position: absolute;
 /* set position to right bottom corner of text */
 right: 0;
 /* set width and height */
 width: 1em;
 height: 1em;
 margin-top: 0.2em;
 /* bg color = bg color under block */
 background: white;
}
.movie-details-text{
 color: #4a4a4a;
 font-weight: 600;
}
/*Movie details */
.movieDetailsContainer{
 padding: 8px;
 margin-top: 10px;
}
.movie-thumb{
 float: left;
   width: 100px;
   height: 20px;
   margin-right: 8px;
   background-color: linen;
}
.movie-info-container{
 margin-left: 510px;
}
.movie-info-title{
 font-weight: 700;
 color: #4a4a4a;
}
.movie-info-rating{
 color: #9b9b9b
}
.movie-info-row{
 margin:20px;
}
